body {
    margin: 0px;
    background-image: url(../Imagenes/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    left: -0px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.LogoUniplex {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: -21px;
    width: 313px;
    height: 129px;
}

.logo_cliente_u228 {
    border-width: 0px;
    position: absolute;
    left: 505px;
    top: 284px;
    width: 139px;
    height: 131px;
}

.logo_contratos_u229{
    border-width: 0px;
    position: absolute;
    left: 917px;
    top: 284px;
    width: 142px;
    height: 131px;
}

.logo_producto_u232 {
    border-width: 0px;
    position: absolute;
    left: 505px;
    top: 564px;
    width: 139px;
    height: 115px;
}

.LabelCliente {
    border-width: 0px;
    position: absolute;
    left: 540px;
    top: 440px;
    width: 95px;
    height: 29px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}

.LabelContrato {
    border-width: 0px;
    position: absolute;
    left: 940px;
    top: 440px;
    width: 95px;
    height: 29px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}

.LabelProducto {
    border-width: 0px;
    position: absolute;
    left: 540px;
    top: 700px;
    width: 95px;
    height: 29px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}

#u222_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 893px;
    height: 606px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 20px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u222 {
    border-width: 0px;
    position: absolute;
    left: 357px;
    top: 166px;
    width: 893px;
    height: 606px;
}

#u222_text {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}